<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Nepal Wether</title>
</head>
<body>
<div class="container parent">


    <table class="table">
        <thead>
        <tr>
            <th scope="col">decription</th>
            <th scope="col">temp</th>
            <th scope="col">feels_like</th>
            <th scope="col">speed</th>

        </tr>
        </thead>
        <tbody>

        <tr th:each="currentWeather: ${currentWeather}">

            <td  th:text="${currentWeather.decription}">decription</td>
            <td  th:text="${currentWeather.temp}">temp</td>
            <td  th:text="${currentWeather.feels_like}">feels_like</td>
            <td  th:text="${currentWeather.speed}">speed</td>

        </tr>


        </tbody>
    </table>
</div>

</body>
</html>